/.fleet
/.idea
/.vscode
/.history
/node_modules
/public/build
/public/b
/public/sitemaps
/storage/uploads
/vendor
!/public/vendor
/resources/views/_tmp/*
!/resources/views/_tmp/.gitkeep
/webpack_cache/*
!/webpack_cache/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/public/pimg/*
!/public/pimg/.gitkeep
!/public/pimg/mini
/public/pimg/mini/*
!/public/pimg/mini/.gitkeep
!/public/pimg/original
/public/pimg/original/*
!/public/pimg/original/.gitkeep
/bower_components
/public/hot
/public/storage
/storage/*.key
/storage/app/**/*.zip
/storage/app/routes
/_modules
.phpstorm.meta.php
_ide_helper*.php
*.stackdump
.env
.env.docker
!.gitkeep
*.log
stats.json
routes.json
nul
*.zip
/tmp-data
/Icon*
.DS_Store

